.tool {
  width: 100%;
  max-width: 400px;
}

.tool form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 1rem;
}

.tool form > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tool input,
.tool select {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #888;
  background-color: white;
  border-radius:  0;
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.tool .selectWrapper {
  position: relative;
  width: 100%;
}

.tool .selectWrapper select {
  width: 100%;
}

.tool .selectWrapper::after {
  position: absolute;
  font-weight: 700;
  font-size: 1rem;;
  transform: scaleY(0.6);
  top: 15px;
  right: 10px;
  content: '\02C5';
}

.tool form button[type="submit"] {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.tool form button[type="submit"]:hover {
  background-color: var(--tertiary);
  color: black;
}

.tool .result div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}