.tool {
  width: 100%;
  max-width: 400px;
}

.tool form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 1rem;
}

.tool form > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tool input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #888;
  background-color: white;
  border-radius:  0;
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.tool select {
  padding: 10px;
  background-color: white;
  border-radius:  0;
  color: black;
  position: relative;
  width: 100%;
  border: transparent;
  border-right: 5px solid transparent;
}

.tool form button[type="submit"] {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.tool form button[type="submit"]:hover {
  background-color: var(--tertiary);
  color: black;
}

.tool .result div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.unitInput {
  width: 100%;;
  display: flex;
  flex-direction: row;
  border: solid 1px #888;
  padding: 0;
  position: relative;
  margin: 10px 0;
}

.unitInput input {
  width: 100%;
  border: 0;
  margin: 0;
}

.unitInput select {
  border: 0;
  margin: 0;
  width: 78px;
  min-width: 78px;
  background-color: #f0f0f0;
  border-right: 5px transparent solid;
}

.selectInput {
  margin: 10px 0;
  padding: 0;
  border: 1px solid #888;
}